/* property reset */
h1 {
    margin: 0;
    padding: 0;
}

/* position styling */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

#container {
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

#container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* easier to fit */
}

#footer {
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* color and shape styling */

body,
.inactive {
    background-color: black;
}

#container > div {
    border: solid beige 2px;
   
}

.active {
    background-color: beige;
}

#container > div,
#new-button {
    border-radius: 16px;
}

/* font styling */

h1,
#footer {
    color: beige;
}

h1,
#new-button,
#footer {
    font-family: 'Courier New', Courier, monospace;
}

h1,
#new-button {    
    font-size: 64px;
}

#footer {
    font-size: 32px;
    text-align: center;
}