/* property reset */
h1 {
    margin: 0;
    padding: 0;
}

/* position styling */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

#container {
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

#container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* easier to fit */
}

/* color and shape styling */

body {
    background-color: black;
}

#container > div {
    border: solid white 2px;
}

#container > div,
#new-button {
    border-radius: 16px;
}

.active {
    background-color: beige;
}

/* font styling */

h1 {
    color: white;
}

h1,
#new-button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 64px;
}